include ./partials/table.pug
html
    head
        style
            include ./page.css
    body
        h2 Записи !{f}-!{t} из !{s}
        +createtable(k,d)

        button#prev prev
        if shownext
            button#next next
        else
            button#next(style="display : none;") do not press me
       

        h2 Сменить таблицу

        button#btorder Заказы
        button#btclient Клиенты
        button#btlocation Адреса
        button#btproduct Продукты
        

        script 
            include ./page.js